name: workflow-01
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps: 
      - name: checkout from main branch
        uses: actions/checkout@v6
  build:
    needs: checkout
    runs-on: ubuntu-latest
    steps:
      - name: build java code
        run: mvn clean install
      
